<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta http-equiv="x-ua-compatible"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="global-wrap">
            <div id="header">
                <div class="menu">

                </div>
            </div>
        </div>
    </body>
</html>
