body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: #00B7FF;
}

#global-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    width:100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


